body{
  background: #f9fbfd;
  overflow-x: hidden;
}


p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}
a{
  cursor: pointer;
}
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;
}

.navbar {
  padding: 9px 10px;
  background: #fff;
  border-bottom: 1px solid #edf2f9;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 0 -7px 9px 0 rgba(169,184,200,.15);
  -webkit-box-shadow: 0 -7px 9px 0 rgba(169,184,200,.15);
  -moz-box-shadow: 0 -7px 9px 0 rgba(169,184,200,.15);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}


/* ---------------------------------------------------
  SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #fff;
  box-shadow: 0 3px 9px 0 rgba(169,184,200,.15);
  -webkit-box-shadow: 0 3px 9px 0 rgba(169,184,200,.15);
  -moz-box-shadow: 0 3px 9px 0 rgba(169,184,200,.15);
  
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  display: flex;
 justify-content: center;

  padding: 22px 10px;
  border-bottom: 1px solid #F6F7FA;
 
}

#sidebar ul.components {
  display: flex;
  justify-content: center;
  padding: 15px 10px;
  flex-direction: column;
}
#sidebar ul.components a{
  margin: 10px;
  
}
#sidebar ul.components a:not(.first) {
  
  color: #C1C1C1;
}

a.create-item{
  background: #4986FC;
  padding: 10px;
  text-align: center;
  color: #fff !important;

}
i {
  display: inline-block;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  vertical-align: middle;
  width: 20px;
  transition: all 0.2s ease-in-out 0s;
  margin-right: 20px;
}
i.la-google-drive{
  color: #4986FC;
}
/* ---------------------------------------------------
  CONTENT STYLE
----------------------------------------------------- */

#content {
  width: calc(100% - 250px);
  background: #F5F7FB;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

#content.active {
  width: 100%;
}
.store-details{    
  display: flex;
  justify-content: center;
  padding: 10px 10px;
  flex-direction: column;
  color: #C1C1C1;
}
.store-details a{
  margin: 10px;
}
.store-info{
  display: flex;
  flex-direction: column;

}
.progress{
  height: 0.2rem;
}
.customize-input {
  position: relative;
}
.customize-input .form-control {
 
  color: #b8c3d5;
  padding: 0px 10px;
 
  border-radius: 60px;
  box-shadow: 0 2px 9px 0 rgba(169,184,200,.2);
  -webkit-box-shadow: 0 2px 9px 0 rgba(169,184,200,.2);
  -moz-box-shadow: 0 2px 9px 0 rgba(169,184,200,.2);
}
.profile-img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.btn-file{
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid #e9ecef;
  border-radius: .25rem;
  color: #7c8798;
  outline: none;
}
.btn-file-active, .btn-file:hover {
  background-color: #4986FC;
  color: white;
}


/* ---------------------------------------------------
 Card
----------------------------------------------------- */

.cfr{
  display: flex;
  
}
.cfc{
  display: flex;
  flex-direction: column;

}
.card-header{
  display: flex; 
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #edf2f9;
  padding: 15 !important;
}
.card-body-details{
  padding: 10px;
  display: flex;
}
.owner{
  border-right: 1px solid #edf2f9;
  padding-right: 10px;
  text-align: center;
}

.owner img{
  width: 100%;
  /* height:100%; */
  border-radius: 50%;
  margin-bottom: 5px;
  
}
.docs{
  justify-content: center;
  align-items: center;  
  width: 100%;
  height: 80px;
}


.author{
  display: flex; 
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 1vw;
  margin-top: 27px;
  margin-left: 5px;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
  padding-top: 10%;
   
 
}
@media screen and (max-width: 600px) {
  .author{
    width: 3em;
    height: 3em;
    display: flex;
    border-radius: 50%;
    font-size: 100%;
    margin-top: 27px;
    margin-left: 5px;
    margin-bottom: 25px;
    padding-left: 0px;
    justify-content: center;
    align-items: flex-end;
   
     
   
  }
}
.author-1{
  background: #c4f5cd;
  color: #76C186;
}
.author-2{
  background: #bfcdf5;
  color: #6c83c4;
}
.author-3{
  background: #f5c4c4;
  color: rgb(193, 118, 118);
}   
.type, .action{
  padding: 10px;
  border-top: 1px solid #edf2f9;
  margin-left: 5px;
}   
.action{
  justify-content: space-around;
}
.file-type img{
  width: 20px;
  height: 20px;
  margin-left: 10px;
}        












/* ---------------------------------------------------
  MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
  #content {
      width: 100%;
  }
  #content.active {
      width: calc(100% - 250px);
  }
  #sidebarCollapse span {
      display: none;
  }
}

.mCSB_dragger_bar{
  background: #C1C1C1 !important;
}
.card-img-top{
height: 100px;
  
}
.file-box{
  height: 100px;
}
.card-info{
  display: flex;
  margin-top: 10px;
  justify-content: space-around;

}
.padLeft{
  padding-left: .2em;
}
.padLeft:hover{   
  width: 90%; 
}
.padLeft:hover p{   
  width: 90%;
  color: #007bff!important;
}
.cover-btn{
  top: -5% !important;
  left: 0;
}
.dropzone{
  height: 200px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  justify-content: center;
  text-align: center;
  background: #F5F7FB;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
}
.file-upload i{
  font-size: 3rem;
  color: #999;
}
/* .page-wrapper {
  background: #f9fbfd;
  position: relative;
 margin-left: 260px;
  box-shadow: 0 3px 9px 0 rgba(162,176,190,.15);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.left-sidebar {
  position: absolute;
  width: 260px;
  height: 100%;
  top: 0;
  z-index: 10;
  padding-top: 80px;
  background: #1c6bb9;
  box-shadow: 0 3px 9px 0 rgba(169,184,200,.15);
  -webkit-box-shadow: 0 3px 9px 0 rgba(169,184,200,.15);
  -moz-box-shadow: 0 3px 9px 0 rgba(169,184,200,.15);
} */
.file-card{ 
  position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid #e9ecef;
    border-radius: .25rem;
    border-right: 1px solid #edf2f9!important;box-shadow: 0 3px 9px 0 rgba(169,184,200,.15);
    -webkit-box-shadow: 0 3px 9px 0 rgba(169,184,200,.15);
    -moz-box-shadow: 0 3px 9px 0 rgba(169,184,200,.15);
    color: #C1C1C1;
    margin: 20px;
}
.card{
  width: 100%;
  position: relative;
  /* display: flex; */
  flex-direction: column; 
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid #e9ecef;
  border-radius: .25rem;
  border-right: 1px solid #edf2f9!important;
  box-shadow: 0 3px 9px 0 rgba(169,184,200,.15);
  -webkit-box-shadow: 0 3px 9px 0 rgba(169,184,200,.15);
  -moz-box-shadow: 0 3px 9px 0 rgba(169,184,200,.15);
  color: #C1C1C1;
 margin-bottom: 20px;
 
  text-align: center;
}

.card__left img{
  width: 100%;
  border-radius: 50%;
}
p{
  font-size: 16px;
}


.cards {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__item {
  display: -webkit-box;
  display: flex;
  padding: 1rem;
  
}

.card-content{
    display: flex;
}
.card-icon{
  display: flex;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #edf2f9;
  justify-content: space-between;
}
.card__title{
    padding: 10px;
    background: #edf2f9
}
.card__body{
    display: flex;
    padding: 10px;
}
.card__left, .card__left_type{
    flex:1;
   
    margin-right: 5px;
}
.card__left{
  border-right: 1px solid #edf2f9;
 
}
.card__left_type{ 
  padding-top: 10px;
}
.card__left img{
    width: 5em;
    margin-top: 1em;
    margin-right: .7em;
}
.card__right{
    flex:2;
    display: flex;      
    flex-direction: column;
    
   
}
.rboxes{
  flex: 2;
  display: flex;    
  justify-content: space-between;
  align-self: center;
  margin-top: 2em;
}
.card__right_text{
  flex: 1px;
  display: flex;
  align-items: flex-end;
  justify-self: center;
  text-align: center;
  padding-left: 4em;
}
.rbox{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background: #000;
    margin-right: 8px;
    padding-top: 9px;
}
.card__type{
    display: flex;
    border-top: 1px solid #edf2f9
}

.author-1{
  background: #c4f5cd;
  color: #76C186;
}
.author-2 {
  background: #bfcdf5;
  color: #6c83c4;
}
.card__img {
  flex-direction: row;
  justify-content: space-evenly;
}
.card__img img{
  margin-top: 12px;
  /* width: 20px; */
  height: 20px;
}
.card-icon a i{
  font-size: 24px;
}
.author-3 {
  background: #f5c4c4;
  color: rgb(193, 118, 118);
}

@media only screen and (min-width: 1024px) {
  /* For mobile phones: */
  .cards__item {
    width: 33.3333%;;
  }
}

@media (min-width: 56rem) {
  .cards__item {
    width: 33.3333%;
  }
}
@media (min-width: 40rem) {
  .cards__item {
    width: 50%;
  }
}


#previewModal .modal-content{
  background-color: rgba(0,0,0,0);
  border: none;  
    position: absolute;
    top: 0;
    /* left: 100px; */
    /* bottom: 0; */
    left: 0;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
 }

 .active{
   color: #4986FC !important;
 }

 .drive{
  margin-left: -1.4em;
  line-height: 1em !important;
  display: inline-block;
  position: absolute;
  top: 2.1em;
  font-size: 96%;
}